@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.btn-clear {
  @include button-variant(
          $background: transparent,
          $border: transparent,
          $color: $gray-900,
          $disabled-color: $gray-700);
}
