.abs-payment-list-view {
  position: absolute;
  width: 100%;
  padding: 1em;
  overflow: auto;
}

.abs-payment-list-view .abs-payment-list-daily {
  border: 1px solid lightgrey;
  border-radius: .5em;
  padding: .5em;
  margin: 0 auto;
  width: 80vw;
}
.abs-payment-list-view .abs-payment-list-daily:not(:first-child) {
  margin-top: .5em;
}

.abs-payment-list-view .abs-payment-list-daily ul {
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
}

.abs-payment-list-view .abs-payment-list-daily ul .abs-payment-item {
  display: flex;
  justify-content: space-between;
}

.abs-payment-list-view p {
  text-align: center;
}
