.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  position: relative;

  > .section-title {
    margin-bottom: 1.5rem;
  }
}
