.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  margin: 10vh auto 0;
  width: 80vw;
}
.app-header .abs-full-width-button .dropdown-toggle,
.app-header .abs-full-width-button .dropdown-menu {
  width: 100%;
}
.app-header .abs-monthly-summary {
  margin-top: 1em;
  position: relative;
  text-align: right;
}

.app-main {
  width: 100vw;
  flex: 1 0 auto;
  overflow: auto;
  position: relative;
}
