.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding-top: 10vh;
  width: 80vw;
  background-color: var(--bs-body-bg);
}
.app-header .abs-full-width-button .dropdown-toggle,
.app-header .abs-full-width-button .dropdown-menu {
  width: 100%;
}
.app-header .abs-monthly-summary {
  margin-top: 1em;
  position: relative;
  text-align: right;
}

.app-main {
  width: 100vw;
  flex: 1 0 auto;
}
