.app {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-header {
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding-top: 10vh;
  width: 80vw;
  background-color: var(--bs-body-bg);
  z-index: 1;
}
.app-header .abs-full-width-button .dropdown-toggle,
.app-header .abs-full-width-button .dropdown-menu {
  width: 100%;
}
.app-header .abs-monthly-summary {
  margin-top: 1em;
  position: relative;
  text-align: right;
}

.app-main {
  flex: 1 0 auto;
}

.app-aside {
  position: sticky;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;
}
